<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <title>Chatbot Widget</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    <!--Import Font Awesome Icon Font-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    />

    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/user/catalog/view/theme/mahardhi/stylesheet/css/materialize.min.css"
    /> 

    <!--Main css-->
    <link rel="stylesheet" type="text/css" href="/assets/user/catalog/view/theme/mahardhi/stylesheet/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container-chatbot">
      <!-- Modal for rendering the charts, declare this if you want to render charts, 
         else you remove the modal -->
      <div id="modal1" class="modal1">
        <canvas id="modal-chart"></canvas>
      </div>

      <!--chatbot widget -->
      <div class="widget">
        <div class="chat_header">
          <!--Add the name of the bot here -->
          <span class="chat_header_title">Sara<img class="botAvatar" src="/assets/images/logo/sara_avatar.png" /></span>
          <span class="dropdown-trigger" href="#" data-target="dropdown1">
            <i class="material-icons"> more_vert </i>
          </span>

          <!-- Dropdown menu-->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#" id="clear">Clear</a></li>
            <li><a href="#" id="restart">Restart</a></li>
            <li><a href="#" id="close">Close</a></li>
          </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
		  <span id="remoteUser" th:text="${#request.remoteUser}" style="display: none;">
		  <!-- <img class="botAvatar" src="/assets/images/logo/sara_avatar.png" style="display: block;">
		  <p class="botMsg" style="display: block;"><span id="remoteUser" th:text="${#request.remoteUser}" style="display: none;"></span><th:block th:if="${#request.remoteUser}">
											<span>Chào mừng bạn đã đăng nhập vào hệ thống 👋.<br>Tôi là trợ lý của Hohaho.com, luôn sẵn lòng giải đáp các thắc mắc bạn.</span>
										</th:block><th:block th:unless="${#request.remoteUser}">
											<span>Tôi là trợ lý của Hohaho.com, luôn sẵn lòng giải đáp các thắc mắc bạn.</span>
										</th:block></p> -->
          <div class="clearfix1"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
          <textarea
            id="userInput"
            placeholder="Type a message..."
            class="usrInput"
          ></textarea>
          <div id="sendButton">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <!--bot profile-->
      <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="/assets/images/logo/botAvatar.jpg" />
      </div>

      
    </div>
	
    <!--JavaScript at end of body for optimized loading-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script
      type="text/javascript"
      src="/assets/user/catalog/view/javascript/jquery/materialize.min.js"
    ></script>
    <script src="/assets/user/catalog/view/javascript/jquery/uuid.min.js"></script>
    <!--Main Script -->
    <script type="text/javascript" src="/assets/user/javascript/script.js"></script>

    <!--Chart.js Script -->
    <script type="text/javascript" src="/assets/user/catalog/view/javascript/jquery/chart.min.js"></script>
    <script type="text/javascript" src="/assets/user/catalog/view/javascript/jquery/showdown.min.js"></script>
  </body>
</html>
